body {font-family: Arial, Helvetica, sans-serif;}

thead {
  background-color: #337ab7;
  color: white;
}

#loginmodal {
  display: block;
  background-color: white;
  width: 60%;
  margin: 15% auto 20px auto;
  padding: 20px;
}

#loginerror {
  width: 60%;
  margin: 0px auto;
  text-align: center;
  background-color: #FF3636;
  border-color: #FF3636;
  color: white;
}

#loginmodal input[type=text], #loginmodal input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

#loginmodal button {
  padding: 14px 20px;
  margin: 8px 0 20px 0;
  width: 100%;
}

.navbar {
  background-color: #f1f1f1;
}

.nav > li > a:hover{
  background-color: #e0e0e0;
}

.nav > li.active > a{
  background-color: #ffffff;
}

.main-panel {
  padding-left: 15px;
  padding-right: 25px;
}

.main-panel input[type=text],
.main-panel input[type=password],
.main-panel select {
  width: 100%;
  padding: 5px 15px;
  border: 1px solid #ccc;
}

.main-panel textarea {
  margin-bottom: 15px;
}

.main-panel .col-lg-4 {
  padding-left: 0px;
}

.main-panel .well {
  margin-top: 5px;
  background-color: #FFD3D2;
  border: 1px solid #FF9797;
}

.main-panel .row {
  margin-bottom: 15px;
}

.main-panel .input-group {
  margin-bottom: 15px;
}

.main-panel .delete {
  text-align: center;
}

.main-panel p.delete {
  font-family: courier;
  font-size: 150%;
}

.right-panel {
  padding-right: 0px;
  padding-left: 10px;
}

.right-panel .dropdown-menu {
  width: 100%;
  padding-left: 10px;
}

.right-panel button {
  margin-top: 0px;
}

.right-panel button ~ button,
.right-panel button ~ div button ,
.right-panel form ~ button {
  margin-top: 10px;
}

.right-panel button {
  width: 100%;
}

.footer {
  margin: -20px;
  margin-top: -20px;
  margin-top: 0px;
  padding: 20px;
  background-color: #f1f1f1;
}

.keep-white-spaces {
  white-space: pre-wrap;
}

td i {
  color: #808080;
}
td p ~ p {
  padding-left: 20px;
  
}

.col-lg-6 input ~ label {
  margin-top: 15px;
}