<div>
  <div class="alert alert-warning" ng-hide="ready">
    <strong>Loading...</strong> Please wait...
  </div>
  <div ng-show="ready">
    <div id="loginmodal">
      <form>
        <label for="ulogin"><b>Login</b></label>
        <input type="text" placeholder="Enter login" ng-model="login" name="ulogin" required="Login is required">
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter password" ng-model="password" name="psw" required="Password is required">
        <button class="btn btn-success" type="submit" ng-click="createToken()" ng-disabled="(login=='') || (password=='')">Login</button>
        <div class="footer">
          <a href="mailto:admin@foo.bar">Forgot password?</a>
        </div>
      </form>
    </div>
    <div id="loginerror" class="well" ng-hide="error==''">
      {{error}}
    </div>
  </div>
</div>