<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="javascript:void(0)">MiniProject</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-class="{active: (page == 'projects')}"><a href="#!/projects">Projects</a></li>
      <li ng-class="{active: (page == 'tasks')}"><a href="#!/tasks">Tasks</a></li>
      <li ng-class="{active: (page == 'users')}"><a href="#!/users">Users</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a ng-href="#!/users/view/{{user.userid}}"><span class="glyphicon glyphicon-user"></span> {{user.fname}}</a></li>
      <li><a href="#!/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
