<div>
  <div class="alert alert-warning" ng-hide="ready">
    <strong>Loading...</strong> Please wait...
  </div>
  <div ng-show="ready">
    <div ng-include src="'partials/navbar.html'"></div>
    <div class="col-lg-10 main-panel">
      <!-- Row dedicated to the project's name -->
      <div class="row">
        <h1>{{currentProject.name}}</h1>
        <p><i>Creation date: {{currentProject.ctimestamp}}</i></p>
      </div>
      <!-- Row dedicated to the project's description -->
      <div class="row">
        <h3>Description</h3>
        <p class="keep-white-spaces">{{currentProject.description}}</p>
      </div>
      <!-- Row with 3 div :
              - 1. Project's state
              - 2. Project's owner
              - 3. Project's actors -->
      <div class="row">
        <div class="col-lg-4">
          <h3>State</h3>
          <p>{{currentProject.state}}</p>
        </div>
        <div class="col-lg-4">
          <h3>Owner</h3>
          <p>{{currentProject.user.fname}}</p>
        </div>
        <div class="col-lg-4">
          <h3>Actors</h3>
          <p>{{serializeActors(currentProject.actors)}}</p>
        </div>
      </div>
      <!-- Row dedicated to the project's tasks -->
      <div class="row">
        <h3>Tasks</h3>
        <p ng-show="currentProject.tasks.length==0"><i>No task...</i></p>
        <table class="table table-hover" ng-hide="currentProject.tasks.length==0">
          <thead>
            <tr>
              <th>State</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in currentProject.tasks | orderBy:mtimestamp:true" ng-click="goTo('/tasks/view/' + task.taskid)">
              <td>{{task.state}}</td>
              <td class="keep-white-spaces">{{task.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-2 right-panel">
      <button class="btn btn-success" ng-click="goTo('/tasks/create/' + currentProject.projectid)">New task</button>
      <button class="btn btn-primary" ng-click="goTo('/projects/edit/' + currentProject.projectid)">Edit project</button>
      <button class="btn btn-danger" ng-click="goTo('/projects/delete/' + currentProject.projectid)">Delete project</button>
      <button class="btn" ng-click="goTo('/projects')">Back to projects list</button>
    </div>
  </div>
</div>