<div>
  <div class="alert alert-warning" ng-hide="ready">
    <strong>Loading...</strong> Please wait...
  </div>
  <div ng-show="ready">
    <div ng-include src="'partials/navbar.html'"></div>
    <form>
      <div class="col-lg-10 main-panel">
        <!-- Row dedicated to the project's name -->
        <div class="row">
          <label for="pname"><b>Name</b></label>
          <input type="text" placeholder="Project name" ng-model="newProject.name" name="pname" required="Project's name is required">
        </div>
        <!-- Row dedicated to the project's description -->
        <div class="row">
          <label for="pdescription"><b>Description</b></label>
          <textarea class="form-control" rows="5" placeholder="Project description" ng-model="newProject.description" name="pdescription"></textarea>
        </div>
        <!-- Row with 3 div :
                - 1. Project's state
                - 2. Project's owner
                - 3. Project's actors -->
        <div class="row">
          <div class="col-lg-4">
            <label for="pstate"><b>State</b></label>
            <select class="form-control" ng-model="newProject.state" name='pstate' ng-options="state for state in projectStates">
            </select>
          </div>
          <div class="col-lg-4">
            <label for="puser_id"><b>Owner</b></label>
            <select class="form-control" ng-model="newProject.user" name='puser_id' ng-options="user as user.login for user in users | filter:ownersFilter track by user.login">
              <option></option>
            </select>
          </div>
          <div class="col-lg-4">
            <label for="pactors"><b>Actors</b></label>
            <select class="form-control" ng-model="newProject.actors" name='pactors' ng-options="user as user.login for user in users | filter:actorsFilter track by user.login" multiple>
              <option></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="well" ng-hide="error==''">
            {{error}}
          </div>
        </div>
      </div>
      <div class="col-lg-2 right-panel">
        <button class="btn btn-success" ng-click="createProject()" type="submit" ng-disabled="newProject.name==''">Create project</button>
        <button class="btn" ng-click="goTo('/projects')" type="reset">Cancel</button>
      </div>
    </form>
  </div>
</div>