<div>
  <div class="alert alert-warning" ng-hide="ready">
    <strong>Loading...</strong> Please wait...
  </div>
  <div ng-show="ready">
    <div ng-include src="'partials/navbar.html'"></div>
    <div class="col-lg-10 main-panel">
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>State</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in tasks | filter:tasksFilter | filter:tasksSearch | orderBy:mtimestamp:true" ng-click="goTo('/tasks/view/' + task.taskid)">
              <td>{{task.state}}</td>
              <td>
                <p><i>{{task.project.name}}</i></p>
                <p class="keep-white-spaces">{{task.description}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-2 right-panel">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="filters.search" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
      <button class="btn btn-success" ng-click="goTo('/tasks/create/-1')" type="submit">New task</button>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filters
          <span class="caret"></span>
        </button>
        <form class="dropdown-menu">
          <div class="checkbox">
            <label><input type="checkbox" ng-model="filters.myTasksOnly">My tasks only</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="filters.inProgress">In progress</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="filters.frozen">Frozen</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="filters.cancelled">Cancelled</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="filters.closed">Closed</label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>