<div>
  <div class="alert alert-warning" ng-hide="ready">
    <strong>Loading...</strong> Please wait...
  </div>
  <div ng-show="ready">
    <div ng-include src="'partials/navbar.html'"></div>
    <div class="col-lg-10 main-panel">
      <!-- Row dedicated to the project's name -->
      <div class="row">
        <h1>{{currentProject.name}}</h1>
      </div>
      <!-- Row dedicated to the task's description -->
      <div class="row">
        <h3>Task's description</h3>
        <p class="keep-white-spaces">{{currentTask.description}}</p>
      </div>
      <!-- Row with 2 div :
              - 1. Task's state
              - 2. Task's ctimestamp and mtimestamp -->
      <div class="row">
        <div class="col-lg-4">
          <h3>State</h3>
          <p>{{currentTask.state}}</p>
        </div>
        <div class="col-lg-4 col-lg-offset-4">
          <h3>Dates</h3>
          <p><i>Creation: {{currentTask.ctimestamp}}</i></p>
          <p><i>Modification: {{currentTask.mtimestamp}}</i></p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 right-panel">
      <button class="btn btn-primary" ng-click="goTo('/tasks/edit/' + currentTask.taskid)">Edit task</button>
      <button class="btn btn-danger" ng-click="goTo('/tasks/delete/' + currentTask.taskid)">Delete task</button>
      <button class="btn" ng-click="goBack()">Back</button>
    </div>
  </div>
</div>