<div>
  <div class="alert alert-warning" ng-hide="ready">
    <strong>Loading...</strong> Please wait...
  </div>
  <div ng-show="ready">
    <div ng-include src="'partials/navbar.html'"></div>
    <form>
      <div class="col-lg-10 main-panel">
        <!-- Row dedicated to the project's name -->
        <div class="row">
          <label for="pname"><b>Project's name</b></label>
          <select class="form-control" ng-model="currentProject" name='pname' ng-options="currentProject.name for currentProject in projects" disabled>
          </select>
        </div>
        <!-- Row dedicated to the task's description -->
        <div class="row">
          <label for="tdescription"><b>Task's description</b></label>
          <textarea class="form-control" rows="8" placeholder="Task's description" ng-model="editedTask.description" name="tdescription"></textarea>
        </div>
        <!-- Row with 1 div :
                - 1. Project's state -->
        <div class="row">
          <div class="col-lg-4">
            <label for="tstate"><b>Task's state</b></label>
            <select class="form-control" ng-model="editedTask.state" name='tstate' ng-options="state for state in taskStates">
            </select>
          </div>
        </div>
        <div class="row">
          <div class="well" ng-hide="error==''">
            {{error}}
          </div>
        </div>
      </div>
      <div class="col-lg-2 right-panel">
        <button class="btn btn-success" ng-click="saveTask()" type="submit">Save task</button>
        <button class="btn" ng-click="goTo('/tasks/view/' + editedTask.taskid)">Cancel</button>
      </div>
    </form>
  </div>
</div>