<div>
  <div class="alert alert-warning" ng-hide="ready">
    <strong>Loading...</strong> Please wait...
  </div>
  <div ng-show="ready">
    <div ng-include src="'partials/navbar.html'"></div>
    <form>
      <div class="col-lg-10 main-panel">
        <div class="row">
          <div class="col-lg-6">
            <label for="fname"><b>First name</b></label>
            <input type="text" placeholder="First name" ng-model="newUser.fname" name="fname">
            <label for="lname"><b>Last name</b></label>
            <input type="text" placeholder="Last name" ng-model="newUser.lname" name="lname">
            <label for="login"><b>Login</b></label>
            <input type="text" placeholder="Login" ng-model="newUser.login" name="login">
            <label for="role"><b>Role</b></label>
            <select class="form-control" ng-model="newUser.role" name='role'>
              <option>admin</option>
              <option>user</option>
            </select>
          </div>
          <div class="col-lg-6">
            <label for="password"><b>Password</b></label>
            <input type="password" ng-model="newUser.password" name="password">
            <label for="confirmation"><b>Password confirmation</b></label>
            <input type="password" ng-model="newUser.confirmation" name="confirmation">
          </div>
        </div>
        <div class="row">
          <div class="well" ng-hide="error==''">
            {{error}}
          </div>
        </div>
      </div>
      <div class="col-lg-2 right-panel">
        <button class="btn btn-success" ng-click="createUser()" type="submit" ng-disabled="formIsInvalid()">Create user</button>
        <button class="btn" ng-click="goTo('/users')" type="reset">Cancel</button>
      </div>
    </form>
  </div>
</div>