<div>
  <div class="alert alert-warning" ng-hide="ready">
    <strong>Loading...</strong> Please wait...
  </div>
  <div ng-show="ready">
    <div ng-include src="'partials/navbar.html'"></div>
    <div class="col-lg-10 main-panel">
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>First name<br/>&nbsp;</th>
              <th>Last Name<br/>&nbsp;</th>
              <th>Login<br/>&nbsp;</th>
              <th>Role<br/>&nbsp;</th>
              <th>Number of<br/>projects as<br/>an owner</th>
              <th>Number of<br/>projects as<br/>an actor</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users | filter:filters.search | orderBy:fname" ng-click="goTo('/users/view/' + user.userid)">
              <td>{{user.fname}}</td>
              <td>{{user.lname}}</td>
              <td>{{user.login}}</td>
              <td>{{user.role}}</td>
              <td>{{user.nbProjAsOwner}}</td>
              <td>{{user.nbProjAsActor}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-2 right-panel">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="filters.search" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
      <button class="btn btn-success" ng-click="goTo('/users/create')" type="submit">New user</button>
    </div>
  </div>
</div>