<div>
  <div class="alert alert-warning" ng-hide="ready">
    <strong>Loading...</strong> Please wait...
  </div>
  <div ng-show="ready">
    <div ng-include src="'partials/navbar.html'"></div>
    <div class="col-lg-10 main-panel">
      <!-- Row dedicated to the user's name -->
      <div class="row">
        <h1>{{currentUser.fname}} {{currentUser.lname}}</h1>
      </div>
      <div class="row">
        <h3>Login</h3>
        <p>{{currentUser.login}}</p>
        <h3>Role</h3>
        <p>{{currentUser.role}}</p>
        <h3>Number of projects as an owner</h3>
        <p>{{currentUser.nbProjAsOwner}}</p>
        <h3>Number of projects as an actor</h3>
        <p>{{currentUser.nbProjAsActor}}</p>
      </div>
    </div>
    <div class="col-lg-2 right-panel">
      <button class="btn btn-primary" ng-click="goTo('/users/edit/' + currentUser.userid)" ng-disabled="!(isAdmin()) && !(isCurrenlyLogged())">Edit user</button>
      <button class="btn btn-danger" ng-click="goTo('/users/delete/' + currentUser.userid)" ng-disabled="!(isAdmin()) || isCurrenlyLogged()">Delete user</button>
      <button class="btn" ng-click="goTo('/users')">Back to users list</button>
    </div>
  </div>
</div>