<div>
  <div class="alert alert-warning" ng-hide="ready">
    <strong>Loading...</strong> Please wait...
  </div>
  <div ng-show="ready">
    <div ng-include src="'partials/navbar.html'"></div>
    <form>
      <div class="col-lg-10 main-panel">
        <div class="row">
          <h3 class="delete">Please type code below to confirm deletion</h3>
          <p class="delete">{{secret}}</p>
        </div>
        <div class="row">
          <div class="col-lg-2 col-lg-offset-5">
            <input type="text" placeholder="Code" ng-model="confirmation"required>
          </div>
        </div>
      </div>
      <div class="col-lg-2 right-panel">
        <button class="btn btn-danger" ng-click="deleteUser()" ng-disabled="confirmation!=secret">Confirm deletion</button>
        <button class="btn" ng-click="goTo('/users/view/' + userid)" type="reset">Back user view</button>
      </div>
    </form>
  </div>
</div>